@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:300,400,700');

/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.caja {
	width: 80%;
	height: 400px;
	background-color: #3498db;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	color: white;
	border-radius: 15px;
	box-shadow: 0px 3px 3px black;
	margin: 0 auto;
	

}

.caja:hover{
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.icon{
	font-size: 3.5em;
	color: #34495e;
}


.caja p{
	font-size: 1.2em;
	margin-top: 4em;
}

.anim1{
	animation-name: girar;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


.anim2{
	position: relative;
	animation-name: fly;
	animation-duration: 7s;
	animation-timing-function: linear;
	animation-iteration-count: 6;
	animation-direction: alternate;
}




/*ANIMACIONES*/

@keyframes girar{
	from{
		transform: rotateY(0);
	}

	to{
		transform: rotateY(360deg);
	}
}


@keyframes fly{
	0%{
		top: -100px;
		left: 0;
		opacity: .5;
		transform: rotateZ(90deg);
	}

	15%{
		top: 0;
		left: 0;
		opacity: 1;
		transform: rotateZ(0);
	}

	20%{
		top: 0;
		left: -200px;
		opacity: 1;
		transform: rotateX(0);
	}

	30%{
		top: 0;
		left: 0;
		opacity: 1;
		transform: rotateX(720deg);
	}

	40%{
		top: 0;
		left: -100px;
		opacity: 1;
		transform: rotateX(-360deg);
	}

	50%{
		top: 0;
		left: 0;
		opacity: 1;
		transform: rotateX(0);
	}

	65%{
		top: 0;
		left: -200px;
		opacity: 1;
		transform: rotateX(0);
	}


	85%{
		top: 0;
		left: 100px;
		opacity: 1;
		transform: rotateX(720deg);
	}

	100%{
		top: 0;
		left: 200px;
		opacity: 0;
		transform: rotateX(1140deg);
	}



}