@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:300,400,700');

/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body {
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding: 0;
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	color: #34495e;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {font-size: 3em;}
h2 {font-size: 2.2em;}

hr{
	width: 20%;
	border-top: 4px solid #bdc3c7;
}

.boton-viejo{
	width: 200px;
	background-color: #16a085;
	border: 5px solid #2c3e50;
	padding: 20px;
	text-align: center;
	color: whitesmoke;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	text-decoration: none;
	margin-bottom: 5px;
}

.boton-nuevo{
	width: 100%;
	box-sizing: border-box;
	background-color: #d35400;
	padding: 20px;
	border: 2px solid #e67e22;
	display: block;
	text-align: center;
	font-size: 1.2em;
	text-decoration: none;
	color: whitesmoke;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;

	box-shadow: 2px 2px 4px #34495e;
	transition: all 350ms ease;
}

.boton-nuevo:hover{
	background-color: transparent;
	color: #d35400;
	box-shadow: 3px 6px 4px #34495e;
}

.rojo {
	background-color: transparent;
	color: #e74c3c;
	border-color: #c0392b;
}

.rojo:hover{
	background-color: #e74c3c;
	color: whitesmoke;
}

.sprite {
	width: 84px;
	height: 84px;
	display: block;
	text-decoration: none;
	color: transparent;

	background-image: url(../img/mini-social-icons.png);

	transition: all 350ms ease;
	-webkit-transition: all 350ms ease;
	-moz-transition: all 350ms ease;
	-o-transition: all 350ms ease;
	-ms-transition: all 350ms ease;
}

.sprite.flickr{background-position: -84px -84px;}

.sprite.flickr:hover{background-position: -84px -168px;}

.sprite.flickr:focus{background-position: -84px -252px;}

