.container {
	width: 960px;
	margin: 0 auto;
	font-family: arial;
}

.caja {
	/*Propiedades de box*/
	width: 230px;
	height: 230px;
	background-color: #2980b9;
	display: inline-block;
	padding: 20px;
	border: 10px solid #34495e;

	/*Propiedades de texto*/
	color: whitesmoke;
	font-size: 80px;
	text-align: center;
	line-height: 170px;

	margin-bottom: 20px;
	/*Propiedades CSS3*/
	box-sizing: border-box;
	border-radius: 50%;
}

.borde {
	width: 230px;
	height: 230px;
	display: inline-block;
	margin-bottom: 20px;
}

.box {
	color: whitesmoke;
	font-size: 80px;	
	background-color: #8e44ad;
	line-height: 170px;
	padding: 20px;
	border: 10px dotted #34495e;
	border-radius: 50%;
	text-align: center;
}

.cajita {
	width: 240px;
	height: 240px;
	display: inline-block;
	background-color: #2c3e50;
	color: whitesmoke;
	margin-bottom: 20px;
	font-size: 80px;
	text-align: center;
	line-height: 180px;
	border: 10px solid #3498db;
	padding: 20px;
	box-sizing: border-box;
	float: left;
}

.triangulos{
	clear: both;
}

.tri1, .tri2, .tri3 {
	width: 0;
	height: 0;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 250px solid #16a085;

	margin-bottom: 20px;
	float: left;
	color: transparent;	

}
