.lienzo {
	width: 500px;
	height: 600px;
	/*border: 1px dotted black;*/
	margin: 0 auto;
	position: relative;
}

.base {
	width: 300px;
	height: 300px;
	background-color: #2980b9;
	position: absolute;
	bottom: 0;
	left: 20%;
}

.puerta {
	width: 70px;
	height: 140px;
	background-color: brown;
	position: absolute;
	bottom: 0;
	left: 38%;
}

.pomo{
	width: 15px;
	height: 15px;
	background-color: black;
	position: absolute;
	border-radius: 50%;
	right: 0;
	bottom: 40%;
}

.ventana {
	width: 70px;
	height: 70px;
	background-color: white;
	border: 10px solid brown;
	box-sizing: border-box;
	position: absolute;
}

#ven1 {
	top: 50px;
	left: 5%;
}

#ven2 {
	top: 50px;
	right: 5%;
}

.techo {
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 200px solid brown;
	position: absolute;
    top: 100px;
    left: 90px;
}

.chimenea {
	width: 70px;
	height: 140px;
	background-image: url(../img/brick.jpg);
    top: 150px;
    left: 290px;
	position: absolute;
	z-index: -1;
}