@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:300,400,700');

/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body {
	font-family: 'Roboto', sans-serif;
}

.contenedor{
	width: 960px;
	margin: 0 auto;
}

.clase1{
	width: 75%;
	background-color: #2ecc71;
	color: whitesmoke;
	padding: 15px;
	text-align: center;
	border-top: 15px solid #e67e22;
	border-bottom: 15px dotted #2c3e50;
}

.clase1 h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2em;
	text-transform: uppercase;
}

.clase1 hr {
	width: 40%;
}

.clase1 p{
	font-style: 18px;
	font-style: italic;
	color: #7f8c8d;
}

#iden1{
	background-color: #34495e;
}

.clase2{
	width: 250px;
	background-color: #9b59b6;
	margin-top: 15px;
	padding: 15px;
	border: 15px dashed #2c3e50;
}


.clase2 a {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #34495e;
	text-decoration: none;
}

.clase2 ul {
	list-style: none;
	line-height: 2em;
}

.clase2 ul li {
	color: whitesmoke;
	font-weight: bold;
}

.clase2 p{
	color: white;
	font-size: 12px;
	text-align: justify;
}

.azul {
	background-color: #2980b9;
}
