@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:300,400,700');

/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h1,h2 {
	color: #34495e;
	font-family: 'Montserrat', sans-serif;
	margin:0;
	padding: 0;
}

h1{font-size: 2.5em;}
h2{font-size: 1.9em;}

.parallax {
	width: 100%;
	height: 100vh;
	background-image: url(../img/parallax1.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.parallax div {
	position: relative;
	width: 180px;
	margin: 0 auto;
	top:40vh;
}

.parallax div h1{
	color: white;
	background-color: rgba(44, 62, 80, .7);
	text-align: center;
	padding: 5px 0;
	box-sizing: border-box;
	border: 5px solid rgba(52, 152, 219,.8);
	border-radius: 20px;
}

.mt-30{margin-top: 30px;}

.img-adaptable{
	max-width: 100%;
	display: block;
}

.img-redonda{
	border-radius: 50%;
}

.centrar-textos{
	text-align: center;
}

.centrar-img{
	display: block;
	margin:0 auto;
}

.banner {
	height: 200px;
	background-image: url(../img/ssgss_goku.png);
}