@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:300,400,700');

/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

nav {
	background-color: #34495e;
	text-align: center;
	width: 100%;
	position: relative;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}


nav > ul > li {float: left;}

nav ul li a {
	text-decoration: none;
	display: block;
	color: whitesmoke;
	padding: 10px 20px;
	transition: all .3s linear;
}

nav ul li a:hover{
	background-color: #7f8c8d;
}

/*Submenu*/

nav ul li div{
	width: 100%;
	position: absolute;
	left: 0;
	background-color: #2ecc71;
	transition: .7s;
	visibility: hidden;
	opacity: 0;
}

nav >ul >li:hover div{
	display: table;
	visibility: visible;
	opacity: 1;
}

nav ul li div ul {
	display: table-cell;
	box-sizing: border-box;
	border-right: 3px solid #16a085;
	width: 1%;
}

nav ul li div ul:last-child{
	border:none;
}

.titulo {
	background-color: #34495e;
	padding: 10px 20px;
}

.titulo a{
	text-transform: uppercase;
}

.titulo a:hover{
	background: none;
	cursor:default;
}
.icon{
	font-size: 1.5em;
	vertical-align: middle;
	color: #bdc3c7;
}

a:hover .icon {
	color: #3498db;
}