@charset "UTF-8";

@font-face {
  font-family: "iconos";
  src:url("fonts/iconos.eot");
  src:url("fonts/iconos.eot?#iefix") format("embedded-opentype"),
    url("fonts/iconos.woff") format("woff"),
    url("fonts/iconos.ttf") format("truetype"),
    url("fonts/iconos.svg#iconos") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "iconos" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "iconos" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plane-airport:before {
  content: "\61";
}
.icon-fighter-jet:before {
  content: "\63";
}
.icon-dollar:before {
  content: "\62";
}
.icon-dollar-1:before {
  content: "\64";
}
.icon-money-banknote:before {
  content: "\65";
}
.icon-banknote:before {
  content: "\66";
}
.icon-check-mark:before {
  content: "\67";
}
.icon-check:before {
  content: "\68";
}
.icon-check-1:before {
  content: "\69";
}
.icon-linux:before {
  content: "\6a";
}
.icon-home:before {
  content: "\6b";
}
.icon-github:before {
  content: "\6c";
}
.icon-instagram:before {
  content: "\6d";
}
.icon-social-twitter:before {
  content: "\6e";
}
.icon-octoface:before {
  content: "\6f";
}
.icon-hand-right:before {
  content: "\70";
}
.icon-dribbble:before {
  content: "\71";
}
.icon-instagram-1:before {
  content: "\72";
}
.icon-ipad:before {
  content: "\73";
}
.icon-iphone:before {
  content: "\74";
}
.icon-pin-alt:before {
  content: "\75";
}
.icon-play:before {
  content: "\76";
}
.icon-portfolio:before {
  content: "\77";
}
.icon-store:before {
  content: "\78";
}
.icon-subtract:before {
  content: "\79";
}
.icon-task:before {
  content: "\7a";
}
.icon-record:before {
  content: "\41";
}
.icon-krw:before {
  content: "\45";
}
.icon-area-chart:before {
  content: "\46";
}
.icon-code:before {
  content: "\44";
}
.icon-code-fork:before {
  content: "\47";
}
.icon-codepen:before {
  content: "\48";
}
.icon-compass:before {
  content: "\49";
}
.icon-compress:before {
  content: "\4a";
}
.icon-connectdevelop:before {
  content: "\4b";
}
.icon-whatsapp:before {
  content: "\4e";
}
.icon-google-plus-square:before {
  content: "\43";
}
.icon-file:before {
  content: "\4c";
}
.icon-android:before {
  content: "\4d";
}
.icon-arrow-circle-down:before {
  content: "\4f";
}
.icon-align-right:before {
  content: "\42";
}
.icon-amazon:before {
  content: "\50";
}
.icon-angle-up:before {
  content: "\51";
}
.icon-arrow-left:before {
  content: "\52";
}
.icon-arrow-right:before {
  content: "\53";
}
.icon-barcode:before {
  content: "\54";
}
.icon-bars:before {
  content: "\55";
}
.icon-bell-slash:before {
  content: "\56";
}
.icon-bell-slash-o:before {
  content: "\57";
}
.icon-file-text-o:before {
  content: "\58";
}
.icon-social-angular:before {
  content: "\59";
}
